*,
*::before,
*::after {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

body{
  background: coral;
}

#quote-box{
  background: wheat;
  margin: 0 auto;
  width: 550px;
  height: 220px;
}

#text{
  padding-left: 25px;
  padding-top: 1em;
}


ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}

a{
  font-size: 2rem;
  padding: .5em;
}

#tweet-quote{  
  text-decoration: none;
}

#new-quote{
  padding: 5px 10px;
  font-weight: 400;
}

#author{
  display: flex;
  flex-direction: row-reverse;
  margin-right: 90px;
}

.buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 35px;
}