.App {
  text-align: center;
}

#quote-box{
  padding-top: 30vh;
  margin: 0 auto;
  width: 550px;
  height: 220px;
}

#text{
  padding-left: 25px;
}

ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

a{
  padding-left: .8em;
}

#tweet-quote{  
  text-decoration: none;
}

#new-quote{
  padding: 5px 10px;
}

#author{
  display: flex;
  flex-direction: row-reverse;
  margin-right: 90px;
}

.buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}