*,
*::before,
*::after {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

body{
  background: #0F4D92;
}

#quote-box{
  background: #E3D7FF;
  margin: 25vh auto 0 auto;
  width: 550px;
  height: 220px;
}

#text{
  color: #639FAB;
  padding-left: 25px;
  padding-top: 1em;
}


ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
}

a{
  position: inherit;
  font-size: 2.1rem;
  padding: .5em;
  color: #639FAB;
}

#tweet-quote{  
  text-decoration: none;
}

#new-quote{
  background: #639FAB;
  color: #F0EDEE;
  border: none;
  border-radius: 2px;
  padding: 5px 10px;
  font-weight: 400;
}

#author{
  color: #639FAB;
  display: flex;
  flex-direction: row-reverse;
  margin-right: 90px;
}

.buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 35px;
}

footer{
  margin-top: 28vh;
  text-align: center;
}

footer a{
  font-size: 2rem;
  text-decoration: none;
  color: white;
}